<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
<form method="GET">
    <input type="text" name="search" placeholder="Search" style="margin-bottom: 10px">
    <input type="submit" value="Search" style="margin-bottom: 10px">
</form>
<form method="GET">
    <input type="submit" name="order" value="order by author" style="display: inline-block; margin-right: 10px">
    <input type="submit" name="order" value="order by title" style="display: inline-block;"><br><br>
</form>
{% for row in rows %}
<img class="cover_image"
     src="https://covers.openlibrary.org/b/isbn/{{ row[3] }}-M.jpg"
     alt="No image available">
<div><h3>"{{ row[0] }}" by {{ row[1] }}</h3>
    <form method="POST" action="{{ url_for('delete', book_id=row[2]) }}">
        <input type="submit" value="Delete">
    </form>
</div>
{% endfor %}
{% if message %}
<p style="font-weight: bold; color: #92A8D1">{{ message }}</p>
{% endif %}

</body>
</html>